.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.mapouter {
    position: relative;
    text-align: right;
    height: 330px;
    width: 400px;
  }
.showdata{
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border-radius: 10px;
    font-family: monospace;
    width: 55%;
    margin: auto;
    font-weight: bold;
    margin-top: 50px;
    color: white;
    border: 2px solid black;
    font-family:'Lily Script One', cursive;
}  
.details{
    width: 100%;
    text-align: center;
}
.details > h1{
  color:rgb(40, 40, 40) ;
}
.details > h1:hover{
  color: white;
  -webkit-transition:0.2s ease all;
  -moz-transition:0.2s ease all;
   -ms-transition:0.2s ease all;
    -o-transition:0.2s ease all;
       transition:0.2s ease all;
}
body{
  background-image: url("https://d33wubrfki0l68.cloudfront.net/8d79b89491cf9ef958be1386776dc937d39266be/8fc70/static/particle_background-24c33d8299e223ef4a14dd998f7f1256.jpg");
  background-size:cover;
}
#logo {
	margin:0 auto;
	width:200px;
	font-family:'Lily Script One', cursive;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	color:rgb(40, 40, 40);
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

#logo:hover {
	color: white;
}
.input{
  margin-left: 100px;
}
.input input{
  margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:3px solid #bbb;
	border-radius:20px;
  border-color:#4D4AE8;
}
.input input:focus{
  border-color: black;
}

.button-20 {
  appearance: button;
  background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #4D4AE8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.button-20:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}
.days {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  font-family: monospace;
  margin-bottom: 30px;
  margin-top: -15px;
}
.days > div {
  height: 150px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
  background: transparent;
  border: 2px solid black;
}
.days > div:hover{
  background-color: rgb(40, 40, 40);
  -webkit-transition:0.3s ease all;
  -moz-transition:0.2s ease all;
   -ms-transition:0.2s ease all;
    -o-transition:0.2s ease all;
       transition:0.3s ease all;
}
.days>div img{
 margin-top: 10px;
 width: fit-content;
 margin: auto;
}
.days>div h4{
  margin: auto;
  text-align: center;
  font-family:'Lily Script One', cursive;
  font-size: 15px;
}
.infodays{
  font-family:'Lily Script One', cursive;
  color: rgb(40, 40, 40);
}
.infodays:hover{
  color: white;
  -webkit-transition:0.2s ease all;
  -moz-transition:0.2s ease all;
   -ms-transition:0.2s ease all;
    -o-transition:0.2s ease all;
       transition:0.2s ease all;
}
